@model Collectors.Models.Collection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
@if (Model.Collectibles.Count > 0)
{
    <h5>Items in this Collection</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Collectibles[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Collectibles[0].CollectedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Collectibles[0].Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collectibles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @{
                            var startDate = item.CollectedDate.ToShortDateString();
                            @Html.DisplayFor(modelItem => startDate);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description);
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
